<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Predicktion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css"
          th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" href="/css/predicktion.css" th:href="@{/css/predicktion.css}"/>
</head>
<body>
<div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="text-center alert alert-info">
                    <div class="headline"><h1 class="mylogo">PREDICKTION</h1></div>
                    <div class="mute small">If you like being a dick to people</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="btn-group" role="group">
                    <a href="/" class="btn btn-default active" role="button">Main Page</a>
                    <a href="/prediction" class="btn btn-default" role="button">Make a Prediction</a>
                    <a href="/predictions" class="btn btn-default" role="button">List my Predictions</a>
                    <a href="/userdetails" class="btn btn-default" role="button">Edit User Details</a>
                    <a href="https://pledgie.com/campaigns/29428" class="btn btn-default" role="button">Donate <i
                            class="fa fa-dollar"></i><i class="fa fa-euro"></i></a>
                    <a href="/logout" class="btn btn-default" role="button">Logout</a>
                </div>
            </div>
            <div class="row top10 well card">
                <div class="col-lg-12">
                    <strong>So what's this about?</strong>
                </div>
                <div class="col-lg-12 top5">
                    <p>
                        Well, the inspiration comes from the 2016 presidential election, where social media was
                        overflowing with experts on geopolitics, fortunetellers and what not.
                    </p>
                </div>
                <div class="col-lg-8 top5">
                    <p>
                        Apparantly though, the 'experts' and most of mainstream media had severly underestimated
                        how fed up people are with the current state of things and voted in a sexist bigot with
                        megalomania. Still better than crooked Killary, some may say. Well, that's up to you.
                    </p>
                    <p>
                        Anyway, wouldn't it have felt nice to have been able to make your predictions, and then when
                        they came through rub them in people's faces and say I TOLD YOU SO, in style?
                    </p>
                </div>
                <div class="col-lg-4 top5"><img class="trollpic" th:src="@{/images/trollol.jpg}"/></div>
                <div class="col-lg-12 top5">
                    <strong>That's exactly the purpose of this application.</strong> Enjoy.
                </div>
                <div class="col-lg-12 top5">
                    <p th:if="${user.getPredictionEntities().isEmpty()}">
                        <a th:href="@{/prediction}" class="btn btn-success">Make your FIRST Predicktion!</a>
                    </p>
                </div>
                <div class="col-lg-12 top5">
                    <p class="footer mute small">
                        &copy; 2016 <a href="mailto:sornydude@gmail.com">Sorny</a>. All rights reserved (but it's free
                        to use as long as you don't sue me for any malfunctions).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/transition.js"></script>
<script type="text/javascript" src="js/collapse.js"></script>
<script type="text/javascript" src="js/alert.js"></script>
<script type="text/javascript" src="js/tooltip.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/anime.js"></script>
<script type="text/javascript">

<!--var tc = $(window).height() / 2 - $('.card').height() / 2;-->
<!--var lc = $(window).width() / 2 - $('.card').width() / 2 - $(this).offset().left;-->

<!--var myAnimation = anime({-->
    <!--targets: [-->
        <!--'.card'-->
    <!--],-->
    <!--translateX: lc + 'px',-->
    <!--duration: 5000,-->
    <!--loop: false-->
<!--});-->

var myAnimation2 = anime({
    targets: [
        '.trollpic'
    ],
    //translateX: '13rem',
    rotate: 360,
    borderRadius: '8px',
    duration: 5000,
    loop: false
});

</script>
</body>
</html>